*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --darkGrey: #eeeeee;
}

.center {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
}

.container {
    grid-template-columns: 1fr;
}

h3 {
    margin: 5vh auto 3vh;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    background: var(--darkGrey);
    width: 50vw;
    margin: 0 auto;
    height: 200px;
    padding: 0 1rem;
    grid-gap: 0 .5rem;
    box-sizing: border-box;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .25);
    border-radius: 1rem;
}

form input, form button {
    height: 50px;
    margin: auto 0;
    border-radius: 1rem;
    border: 0;
}

form input {
    padding: 0 1rem;
}

form button {
    padding: 1rem 2rem;
    margin: auto 0;
    border: 1px solid #000;
}


.signature {
    width: 100%;
    overflow: auto;
    word-wrap: normal;
}

.message-signature {
    grid-template-columns: 1fr;
}

.verify {
    padding: 2rem 2rem 0;
}

.verify-message { width: 100%; margin-bottom: 1rem; }